version: '3'
services:
  amqp:
    image: rabbitmq:3.6.10-management-alpine
    environment:
      - RABBITMQ_DEFAULT_USER=rabbit
      - RABBITMQ_DEFAULT_PASS=bunnytime
    ports:
      - "5672:5672"
  protein-server-amqp:
    build:
      context: ./
      dockerfile: Dockerfile
    depends_on: ["amqp"]
    environment:
      - AMQP_URL=amqp://rabbit:bunnytime@amqp
    command: ["./wait-for", "amqp:5672", "--", "bundle", "exec", "ruby", "spec/integration/amqp_test_server.rb"]
  protein-server-http:
    build:
      context: ./
      dockerfile: Dockerfile
    command: ["bundle", "exec", "ruby", "spec/integration/http_test_server.rb"]
    environment:
      - RPC_SECRET=x-rpc–secret
    expose:
      - "80"
    ports:
      - "8080:80"
  protein-client:
    build:
      context: ./
      dockerfile: Dockerfile
    depends_on: ["amqp", "protein-server-amqp", "protein-server-http"]
    environment:
      - AMQP_URL=amqp://rabbit:bunnytime@amqp
      - RPC_SECRET=x-rpc–secret
      - RPC_SERVER_URL=http://protein-server-http:80/rpc
    command: ["./wait-for", "amqp:5672", "protein-server-http:80", "--", "bundle", "exec", "rspec", "spec/integration/integration_spec.rb"]
